
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

a.more {
	margin-top: 20px;
}

p.hero-desc{
	margin: 20px 0px 10px 0px;
}

.navbar-inner {
	background: hsla(225, 100%, 50%, 0.5);
}

#topNavBar li {
	font-size: 16px;
}

#topNavBar li.active > a{
	background: none;
}

#topNavBar a {
	color: #f3f3f3;
}

#topNavBar a.brand {
	font-size: 20px;
	color: #f3f3f3;
}

